body{
	background: black;
	color: white;
}

a{
	color: gray;
	text-decoration: none;
}

a:hover{
	color: black;
	background: white;
}

.greenlink:hover{
	color: green;
	background: gray;
}

h1{
	font-family:"Times new roman" serif;
	font-size: 100pt;
}

.indent{
	margin-left: 20px;
}

.gap_below{
	margin-bottom: 500px;
}